@font-face {
     font-family: 'ReemKufifun';
     src: url('fonts/font1/static/ReemKufiFun-Medium.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'Gabarito';
     src: url('fonts/font2/static/Gabarito-Medium.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

html {
     background-color:#000;
     color: #fff;
     height: 100%;
     padding: 0;
     margin: 0;
     margin-bottom: 4rem;
}
body {
     font-family: 'Gabarito';
     margin-top: 7rem;
     align-items: center;
     margin-left: 4rem;
     margin-right: 4rem;
}
h3 {
     word-spacing: 0.25rem;
     font-weight: lighter;
     line-height: 2.5rem;
}
h2 {
     word-spacing: 0.25rem;
     font-weight: lighter;
     line-height: 2.5rem;
}
.highlighted-text {
     font-family: ReemKufifun;
     font-size: 2.7rem;
     color: #A09A9A;
}
.headings {
     margin-top: 2.75rem;
     margin-bottom: 0.8rem;
     font-size: 3rem;
     font-family: ReemKufifun;
     color: #A09A9A;

}
.headings:before {
     content: url('images/bullet_point.png');
     margin-right: 0.3rem;
}
a {
     text-decoration: none; 
     color: #000;
}
.button {
     font-family: ReemKufifun;
     font-size: 2.7rem;
     padding: 0.01rem;
     color: #A09A9A;
     display: inline-block;
     text-decoration: none;
     border: none;
     cursor: pointer;
     transition: color 0.35s ease, transform 0.35s ease, text-shadow 0.3s ease;
     animation: fadeIn 1.5s ease-in-out forwards;
}
.button:hover {
     color: #aaff80;
     transform: scale(1.02);
     text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
   }
.link {
     font-family: ReemKufifun;
     font-size: 2rem;
     padding: 0.01rem;
     color: #A09A9A;
     display: inline-block;
     text-decoration: none;
     border: none;
     cursor: pointer;
     transition: color 0.35s ease, transform 0.35s ease, text-shadow 0.3s ease;
}
.link:hover {
     color: #67cce8;
     transform: scale(1.02);
     text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
footer {
     margin-top: auto;
   }
@keyframes fadeIn {
     from {
       opacity: 0;
     }
     to {
       opacity: 1;
     }
   }